# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

mac/mac.xcodeproj/project.xcworkspace/xcuserdata/suhas.xcuserdatad/UserInterfaceState.xcuserstate

mac/mac.xcodeproj/xcuserdata/suhas.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
